* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #fafafa;
}

h1{
    color: black;
    text-align: center;
}


#cleanedFilePathDisplay {
    display: flex;
    font-size: 0.9em; color: black;
    text-align: center;
}

#statusMessage {
    display: flex;
    justify-self: center;
}

#cleanedFilePathDisplay {
    justify-self: center;
}

/* button styles */

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
}

.button-container button {
    width: 100%;
}

/* button styles */

/* status styles */

.header-app {
    margin-top: 1rem;
    padding: 1rem;
    font-size: .9rem;
}

/* status styles */